.project-card {
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  transition: all 0.5s;
}
.project-theme {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--bg-lighter-30);
}
.project-description {
  color: var(--bg-lighter-30);
}

@media (max-width: 1550px) {
  .project-card {
    padding: 2rem;
  }
}

@media (max-width: 1350px) {
  .project-card {
    padding: 2rem;
  }
}

@media (max-width: 1200px) {
  .project-card {
    padding: 2.5rem;
  }
}
