<h2 class="mb-3">Social Media</h2>
<div class="w-100">
  <form [formGroup]="mediaForm" class="d-flex flex-column">
    <mat-form-field appearance="outline">
      <mat-label>Twitter</mat-label>
      <input matInput placeholder="Twitter" formControlName="twitter" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Instagram</mat-label>
      <input matInput placeholder="Instagram" formControlName="instagram" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Github</mat-label>
      <input matInput placeholder="Github" formControlName="github" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Linkedin</mat-label>
      <input matInput placeholder="Linkedin" formControlName="linkedin" />
    </mat-form-field>
  </form>
</div>
