textarea {
  min-height: 100px;
}
.about-image {
  width: 400px;
  transition: all 0.3s;
}
.delete-file {
  cursor: pointer;
}
.preview-image {
  width: 200px;
  transition: all 0.3s;
  border-radius: 5px;
}
.preview {
  background-color: var(--bg-lighter-10);
  width: unset;
}
