<div mat-dialog-content class="p-3 d-flex flex-column gap-3 project-card">
  <div class="project-content">
    <div class="d-flex gap-2 mb-2">
      <span
        class="project-tags text-uppercase"
        *ngFor="let tag of project.tags"
        >{{ tag }}</span
      >
    </div>
    <h3 class="text-break mb-3">{{ project.title }}</h3>
    <p class="project-description mb-1" *ngFor="let paragraph of paragraphs">
      {{ paragraph }}
    </p>
  </div>
  <img
    [src]="project.image"
    alt="Project {{ project.title }} image"
    class="project-content"
    *ngIf="project.image"
  />
  <div class="d-flex flex-row justify-content-between">
    <button mat-button (click)="close()">
      Close<mat-icon>close</mat-icon>
    </button>
    <div class="d-flex flex-row justify-content-end">
      <a
        mat-button
        [href]="project.github"
        target="_blank"
        *ngIf="project.github"
      >
        Github<mat-icon
          fontSet="fa-brands"
          fontIcon="fa-github"
          class="d-flex"
        ></mat-icon>
      </a>
      <a mat-button [href]="project.link" target="_blank" *ngIf="project.link"
        >Web<mat-icon>language</mat-icon></a
      >
    </div>
  </div>
</div>
