.project-content {
  border-radius: 5px;
  max-width: 500px;
}
.project-tags {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0px;
  color: var(--bg-lighter-30);
}
.project-description {
  color: var(--bg-lighter-30);
}
