<mat-toolbar class="navbar">
  <div class="d-flex justify-content-between flex-row w-100">
    <a class="text-decoration-none text-reset title" routerLink="/">Devlyz</a>
    <div class="d-none d-md-flex gap-3 unselectable">
      <span
        class="nav-item"
        (click)="goTo(link.route)"
        *ngFor="let link of navbarItems"
        >{{ link.label }}</span
      >
      <div
        class="nav-item icon"
        (mouseout)="icon = 'lock'"
        (mouseover)="icon = 'lock_open'"
        (click)="login()"
        *ngIf="!isLoggedIn"
      >
        <mat-icon fontSet="material-icons-outlined" class="mt-1">{{
          icon
        }}</mat-icon>
      </div>
    </div>
  </div>
</mat-toolbar>
