.sticky-content {
  z-index: 50;
}
.projects-container {
  min-height: calc(100vh - 64px);
}
.project-card:nth-child(odd) {
  transform: translateY(-35px);
}
.project-card {
  width: 350px;
  height: 350px;
  opacity: 1;
  transition: all 0.5s;
}
.projects-container:has(.project-card:hover) > .project-card:not(:hover) {
  opacity: 0.5;
}
.project-card:hover {
  transform: scale(1.1);
  z-index: 5;
}

@media (max-width: 1550px) {
  .project-card {
    width: 300px;
    height: 300px;
    padding: 2rem;
  }
}

@media (max-width: 1350px) {
  .project-card {
    width: 250px;
    height: 350px;
    padding: 2rem;
  }
}

@media (max-width: 1200px) {
  .project-card {
    width: 350px;
    height: 350px;
    opacity: 1;
    transition: all 0.5s;
    padding: 3rem;
  }
  .project-card:nth-child(odd) {
    transform: unset;
  }
  .projects-container {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
