<div class="projecs-container p-5" id="projects">
  <div class="d-lg-flex">
    <div class="w-100 w-lg-50 h-100 sticky-lg-top sticky-content">
      <div class="p-sm-5 ms-sm-5 project-header mb-5 mb-sm-0">
        <h2 class="mb-2 mt-5 fs-1">Projects</h2>
        <p class="section-description">
          These are some of my latest programming projects, each one is a unique
          reflection of my creativity, expertise, and passion for coding. From
          web development to command-line applications in Rust.
        </p>
      </div>
    </div>
    <div
      class="w-100 w-lg-50 row row-cols-auto gap-3 row-cols-xl-2 gap-xl-4 projects-container m-0"
    >
      <app-project
        *ngFor="let project of projects"
        class="col project-card p-0"
        [project]="project"
      ></app-project>
    </div>
  </div>
</div>
