<div
  class="p-5 skill-section d-flex align-items-center justify-content-center"
  id="skills"
>
  <div class="d-lg-flex">
    <div class="w-100 w-lg-50 h-100 sticky-lg-top">
      <div class="p-sm-5 ms-lg-5">
        <h2 class="mb-2 mt-5 fs-1">Skills</h2>
        <p class="section-description">
          Browse through my experience section to learn more about my career and
          see how I can help your business thrive
        </p>
      </div>
    </div>
    <div
      class="w-100 w-lg-50 h-100 mt-5 d-flex gap-3 flex-wrap skills-container justify-content-center"
    >
      <app-skill-card
        *ngFor="let skill of skills"
        [skill]="skill"
        class="skill-card"
      ></app-skill-card>
    </div>
  </div>
</div>
