<app-code-background></app-code-background>
<div class="w-100" *ngIf="loading">
  <app-loader></app-loader>
</div>
<div *ngIf="!loading">
  <app-landing></app-landing>
  <app-about></app-about>
  <app-projects></app-projects>
  <app-experience></app-experience>
  <app-skills></app-skills>
  <app-blog></app-blog>
  <app-gallery-page></app-gallery-page>
  <app-contact></app-contact>
</div>
<div class="controller me-3 mb-3 d-flex flex-column" *ngIf="!loading">
  <a
    color="primary"
    mat-raised-button
    #contactButton
    class="controller-button mb-2"
    href="#contact"
    *ngIf="scrollPosition + windowHeight * 2 < documentHeight"
    matTooltip="Contact Me"
    matTooltipPosition="left"
  >
    <mat-icon class="m-0">mail</mat-icon>
  </a>
  <button
    mat-raised-button
    #topButton
    class="controller-button"
    (click)="scrollToTop()"
    *ngIf="scrollPosition > windowHeight / 2"
    matTooltip="To top"
    matTooltipPosition="left"
  >
    <mat-icon class="m-0">arrow_upward</mat-icon>
  </button>
</div>
