<app-code-background></app-code-background>
<app-landing></app-landing>
<app-about></app-about>
<app-projects></app-projects>
<app-experience></app-experience>
<app-skills></app-skills>
<app-blog></app-blog>
<app-gallery></app-gallery>
<app-contact></app-contact>
<div class="controller me-3 mb-3 d-flex flex-column">
  <a
    color="primary"
    mat-raised-button
    #contactButton
    class="controller-button mb-2"
    href="#contact"
    *ngIf="scrollPosition + (windowHeight * 2) < documentHeight"
    matTooltip="Contact Me"
    matTooltipPosition="left"
  >
    <mat-icon class="m-0">mail</mat-icon>
  </a>
  <button
    mat-raised-button
    #topButton
    class="controller-button"
    (click)="scrollToTop()"
    *ngIf="scrollPosition > (windowHeight / 2)"
    matTooltip="To top"
    matTooltipPosition="left"
  >
    <mat-icon class="m-0">arrow_upward</mat-icon>
  </button>
</div>
