.experience-container {
  min-height: calc(100vh - 64px);
}
.experience-card,
.experience-description {
  max-width: 710px;
}
.experience-card {
  opacity: 1;
  transition: all 0.5s;
}
.experiences-container:has(.experience-card:hover)
  > .experience-card:not(:hover) {
  opacity: 0.5;
}
.experience-card:hover {
  transform: scale(1.1);
  z-index: 5;
}
.experience-job {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--bg-lighter-30);
}
.experience-description {
  color: var(--bg-lighter-30);
}
