<mat-toolbar>
  <div class="d-flex justify-content-between flex-row w-100">
    <span class="title">Devly</span>
    <div class="d-none d-md-flex gap-3">
      <span class="nav-item">About</span>
      <span class="nav-item">Projects</span>
      <span class="nav-item">Experience</span>
      <span class="nav-item">Skills</span>
      <span class="nav-item">Blog</span>
      <span class="nav-item">Gallery</span>
      <span class="nav-item">Contact</span>
      <div
        class="nav-item icon"
        (mouseout)="icon = 'lock'"
        (mouseover)="icon = 'lock_open'"
      >
        <mat-icon fontSet="material-icons-outlined" class="mt-1">{{
          icon
        }}</mat-icon>
      </div>
    </div>
  </div>
</mat-toolbar>
<div class="main-container">
  <router-outlet class="sub-container"></router-outlet>
  <div class="main-controller me-3 mb-3 d-flex flex-column">
    <button
      color="primary"
      mat-raised-button
      #contactButton
      class="controller-button mb-2"
      (click)="scrollToBottom()"
      *ngIf="scrollPosition + windowHeight < documentHeight"
      matTooltip="Contact Me"
      matTooltipPosition="left"
    >
      <mat-icon class="m-0">mail</mat-icon>
    </button>
    <button
      mat-raised-button
      #topButton
      class="controller-button"
      (click)="scrollToTop()"
      *ngIf="scrollPosition > 1000"
      matTooltip="To top"
      matTooltipPosition="left"
    >
      <mat-icon class="m-0">arrow_upward</mat-icon>
    </button>
  </div>
  <app-footer></app-footer>
</div>
