<h1 mat-dialog-title class="py-0 unselectable">Welcome!</h1>
<div mat-dialog-content class="d-flex flex-column px-4 py-0 pt-3">
  <div class="console p-3" #console (click)="focusComponent()">
    <div #preconsole class="pre"></div>
    <app-login-message
      type="error"
      class="w-100"
      *ngIf="errorView"
      [(code)]="code"
    >
    </app-login-message>
    <app-login-message type="success" class="w-100" *ngIf="successView">
    </app-login-message>
    <app-login-input
      *ngIf="usernameView"
      label="Username"
      [(value)]="username"
      (keyupEnter)="onUsernameEnter()"
      [cursorView]="!passwordView"
      #userInput
    ></app-login-input>
    <app-login-input
      *ngIf="passwordView"
      label="Password"
      [(value)]="password"
      [isSecret]="true"
      type="password"
      [cursorView]="passwordView"
      (keyupEnter)="onSubmit()"
      #passwordInput
    ></app-login-input>
  </div>
</div>
