.console {
  height: 300px;
  width: 600px;
  background-color: var(--background);
  border-radius: 5px;
  margin-bottom: 1rem;
  font-family: "Fira Code", monospace;
  &::selection {
    color: var(--background);
    background-color: var(--primary-main);
  }
}
@media (max-width: 810px) {
  .console {
    width: 70vw;
  }
}
@media (max-width: 576px) {
  .console {
    width: 65vw;
  }
  .pre {
    font-size: 0.8rem;
  }
}
