.contact-container {
  min-height: calc(100vh);
}

.contact-form {
  min-width: 600px;
}

@media (max-width: 768px) {
  .contact-form {
    min-width: 100%;
  }
}
.message-area {
  min-height: 150px;
}
