/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
p {
  margin: 0;
}
.section-container {
  min-height: calc(100vh - 64px);
  height: calc(100vh - 64px);
}
.section-description {
  max-width: 600px;
  width: 600px;
  padding: 16px;
  color: var(--bg-lighter-30);
}