/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
p {
  margin: 0;
}
.section-container {
  min-height: calc(100vh - 64px);
  height: calc(100vh - 64px);
}
.section-description {
  max-width: 600px;
  padding: 16px;
  color: var(--bg-lighter-30);
}
.option-button {
  padding: 0;
  width: 36px !important;
  min-width: unset !important;
}

.controller {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 15;
}
.controller-button {
  min-width: unset !important;
}

.admin-icon {
  font-size: 1rem;
}
.rotate-button:hover .admin-icon {
  animation: rotate 1s forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
