<div class="section-container d-flex align-items-center justify-content-center">
  <div class="d-flex flex-column align-items-center">
    <h1 class="mb-5">About me</h1>
    <div class="d-flex">
      <div>
        <mat-card>
          <mat-card-content>
            <img
              src="../../../../../assets/images/square.jpg"
              class="about-image"
            />
          </mat-card-content>
        </mat-card>
      </div>
      <div class="about-description">
        <p class="mb-3">
          My name is <strong>Uriel Spiridione</strong>, I live in Córdoba, Argentina. I am a professional web developer,
          photographer, and a student of economics. Currently, I am working as a
          front-end developer on an Angular team. I consider myself an organized
          and creative individual who enjoys learning new things, experimenting,
          and exploring different areas.
        </p>
        <p>
          Outside of work, photography is my passion. I have been the lead
          photographer for several important events and have taken photos with
          models. However, I am currently interested in travel, casual and nature
          photography more than modeling and social events.
        </p>
        <ul class="mt-4">
          <li><Strong>Age: </Strong>23</li>
          <li><Strong>Phone: </Strong>+54 351 213-6765</li>
          <li><Strong>Email: </Strong>urielspiridione135@gmail.com</li>
          <li><Strong>Córdoba, Argentina</Strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>
