.blog-card {
  width: 350px;
  height: 350px;
  opacity: 1;
  transition: all 0.5s;
}
.blog-container:has(.blog-card:hover) > .blog-card:not(:hover) {
  opacity: 0.5;
}
.blog-card:hover {
  transform: scale(1.1);
  z-index: 5;
}
